.detail_main_container {
  justify-content: center;
  max-width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
}

.detail_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: #101828;
  padding-bottom: 8px;
}

.detail_review_container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon_review {
  fill: #ffc531;
  padding-right: 4px;
}

.detail_review {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #101828;
  text-decoration: underline;
}

.icon_location {
  font-size: 16px;
}

.detail_location_container {
  display: flex;
  gap: 4px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #101828;
  align-items: center;
}

.container {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-bottom: 16px;
}

.detail_price {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: #101828;
  padding-bottom: 28px;
}

.detail_gallery_list {
  display: flex;
  gap: 48px;
  width: 1312px;
  padding-bottom: 28px;
}

.detail_image_item {
  width: 292px;
  height: 312px;
  border-radius: 10px;
}

.detail_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}

.detail_description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #475467;
  padding-bottom: 60px;
}

.detail_nav {
  display: flex;
  gap: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dadde1;
}

.link {
  font-weight: 600px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #101828;
}

.link.active {
  position: relative;
}

.link.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: #d84343;
  height: 4px;
  bottom: -25px;
  left: 0;
}
